.vscode/*
.__pycache__/*
battle_tanks/__pycache__/*
venv/*
build/*
battle_tanks/server/__pycache__/*
battle_tanks/sprites/__pycache__/*
.idea
__pycache__
database.json
battle_server.log
.venv